<IfModule mod_rewrite.c> 
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_URI} \.css$
    RewriteRule ^(.+)$ parse.php?file=%{REQUEST_URI}&%{QUERY_STRING}
</IfModule>