#sidebar-info{
	p{
		margin-left: 15px;
	}
	ul{
		margin-left: 30px;
	}
	
	#facebook{
		.fb-like-box{
			background: white;
		}
	}
	
	#sponsors{
					background: colors.beige;
					padding: 15px;
					color: colors.darkgreen;
					margin-bottom: 15px;
					width: 270px;
					
					h4,h5{
						font-family: fonts.museo;
					}
		.sponsor{
			display: inline-block;
			margin: 10px auto;
			
			&.panelfly{
				width: 270px;
				height: 69px;
				background: url('../img/sponsor_panelfly.png') 0 0 no-repeat;
			}			
			&.github{
				width: 220px;
				height: 97px;
				background: url('../img/sponsor_github.png') 0 0 no-repeat;
				margin-left: 25px;
			}
			&.koombea{
				width: 270px;
				height: 49px;
				background: url('../img/sponsor_koombea.png') 0 0 no-repeat;
			}
			&.pulsosocial{
				width: 270px;
				height: 70px;
				background: url('../img/sponsor_pulsosocial.png') 0 0 no-repeat;
			}
			&.onswipe{
				width: 100px;
				height: 114px;
				background: url('../img/sponsor_onswipe.png') 0 0 no-repeat;
				margin-left:85px;
			}
			&.founders{
				width: 260px;
				height: 124px;
				background: url('../img/sponsor_founders.png') 0 0 no-repeat;
				margin-left:5px;
			}
			&.thoughtbot{
				width: 260px;
				height: 106px;
				background: url('../img/sponsor_thoughtbot.png') 0 0 no-repeat;
				margin-left:5px;
			}
			&.puntoco{
				width: 130px;
				height: 117px;
				background: url('../img/sponsor_puntoco.png') 0 0 no-repeat;
				margin-left:65px;
			}
			&.monoku{
				width: 270px;
				height: 73px;
				background: url('../img/sponsor_monoku.png') 0 0 no-repeat;
			}
			&.torrenegra{
				width: 270px;
				height: 38px;
				background: url('../img/sponsor_torrenegra.png') 0 0 no-repeat;
			}
		}
		
	}
}
