#speakers, #panelists{
	.speaker{
		overflow: hidden;
		border-top: 2px solid colors.beige;
		margin-top: 20px;
		padding-top: 20px;

		.avatar{
			width: 220px;
			height: 150px;
			float: left;
			margin-right: 20px;
			position: relative;

			.twitter{
				width: 31px;
				height: 32px;
				background: url('../img/icon_twitter.png') 0 0 no-repeat;
				display: inline-block;
				opacity: .8;
				position: absolute;
				bottom: 10px;
				right: 10px;

				&:hover{
					opacity: 1;
				}
			}

			&.mojombo{
				background: url('../img/bio_mojombo.jpg') 0 0 no-repeat;
			}
			&.paul_irish{
				background: url('../img/bio_paul_irish.jpg') 0 0 no-repeat;
			}
			&.obie{
				background: url('../img/bio_obie.jpg') 0 0 no-repeat;
			}
			&.edgar{
				background: url('../img/bio_edgar.jpg') 0 0 no-repeat;
			}
			&.sd{
				background: url('../img/bio_sd.jpg') 0 0 no-repeat;
			}
			&.hgimenez{
				background: url('../img/bio_hgimenez.jpg') 0 0 no-repeat;
			}
			&.torrenegra{
				background: url('../img/bio_torrenegra.jpg') 0 0 no-repeat;
			}
			&.andresbarreto{
				background: url('../img/bio_andresbarreto.jpg') 0 0 no-repeat;
			}
			&.jonathant{
				background: url('../img/bio_jonathant.jpg') 0 0 no-repeat;
			}
			&.acolmenares{
				background: url('../img/bio_acolmenares.jpg') 0 0 no-repeat;
			}
			&.buritica{
				background: url('../img/bio_buritica.jpg') 0 0 no-repeat;
			}

		}

		.bio{
			width: 340px;
			float: left;
			
			h3.name{
				font-family: fonts.museo;
				font-size: 28px;
				width: 340px;
				margin-top: 0;
				margin-bottom: .2em;

			}
			
			h5.talk{
				font-family: fonts.museo;
				color: colors.lightergreen;
				font-size: 12px;
				margin-bottom: 2em;
			}
			
			p{
				line-height:1.3em;
			}
		}
	}	
}