/*main styles*/
body{
	color: colors.beige;
	background: url('../img/bg_lightgreen_noise.jpg') 0 0 repeat;
	font-family: fonts.museo;
	
	#transmi-outer{
		width: 100%;
		margin: 0 auto;
		position: absolute;
		top: 220px;
		overflow: hidden;
		z-index: 1;
		
		#transmi-inner{
			width: 240%;
			height:54px;
			background:url('../img/bg_transmi.png') 50% 0 no-repeat;
		}
	}
	
	header#weather{
		height: 200px;
		width: 100%;
		background: url('../img/bg_sky_day.jpg') 50% 100% repeat-x;
		
		&.night{
			background: url('../img/bg_sky_night.jpg') 50% 100% repeat-x;
			
			&.rain{
				background: url('../img/bg_sky_night_rain.jpg') 50% 100% repeat-x;
			}
			
			&.gray{
				background: url('../img/bg_sky_night_gray.jpg') 50% 100% repeat-x;
			}
		}
		
		&.gray{
			background: url('../img/bg_sky_gray.jpg') 50% 100% repeat-x;
		}
		
		&.rain{
			background: url('../img/bg_sky_rain.jpg') 50% 100% repeat-x;
		}
		
		&.dusk{
			background: url('../img/bg_sky_dusk.jpg') 50% 100% repeat-x;
			
			&.rain{
				background: url('../img/bg_sky_dusk.jpg') 50% 100% repeat-x;
			}
			
			&.gray{
				background: url('../img/bg_sky_dusk.jpg') 50% 100% repeat-x;
			}
		}
		
		#clouds{
			width: 100%;
			overflow: hidden;
			position: relative;
			left: 0;
			height: 200px;
			margin-bottom: -280px;
			
			.inner{
				height:200px;
				width: 6400px;
				position: relative;	
			}
			.double{
				height:200px;
				width: 6400px;
				position: relative;
				top: -280px;
			}
			
			&.clouds{
				.inner{
					background: url('../img/bg_clouds.png') 50% 100%;
				}
				
				.double{
					background: url('../img/bg_clouds_double.png') 65% 100%;
				}
			}
		}
			
		.wrapper{
			padding: 0;
			top: 60px;
			position: relative;
			height: 340px;
			
			
			#city{
				width: 140px;
				height: 167px;
				background:url('../img/bg_city.png') 0 0 no-repeat;
				position: absolute;
				left: 770px;
				top: 190px;
				z-index: 10;
			}
		}
	}
	
}	

.wrapper{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#flash{
	background: colors.beige;
	color: colors.lightgreen;
	font-family: fonts.neuton;
	font-size: 22px;
	line-height: 22px;
	position: fixed;
	z-index: 200;
	top: 0;
	width: 100%;
	
	.wrapper{
		padding: 15px 0;
		text-align: center;
		display: none;

		
		&.show{
			display: block;
		}
	}
}

header{
	height: 55px;
	width: 100%;
	background: colors.beige;

	a#logo{
		width:100px;
		height:100px;
		background:url('../img/logo_100.png') 0 0 no-repeat;
		display: block;
		position: absolute;
	}
}

#main{
	padding-top: 15px;

	p,ul	{
		margin-bottom: 12px;
	}
	
	.title{
		margin-bottom: 30px;
	}
	.bogconf{
		width: 432px;
		height: 70px;
		background: url('../img/text_bogotaconf.png') 0 0 no-repeat;
		z-index: 10;
		position: relative;
	}
	
	.tagline{
		font-family: fonts.neuton;
		font-size: 26px;
		line-height: 34px;
		margin-top: 10px;
	}	
}


nav.main-nav{
	background: #22260f;
	height: 30px;
	padding: 10px 0;
	margin-top: 15px;
	
	a{
		font-size: 18px;
		text-decoration: none;
		font-weight: 100;
		line-height: 30px;
		color: colors.lightergreen;
		display: inline-block;
		padding-right: 20px;
		
		&:hover{
			color: colors.beige;
		}
		
		&.active{
			color: colors.beige;			
		}
	}
	
}

#dark-green{
/*	margin-top: 20px;*/
	width: 100%;
/*	height: 236px;*/
	background: url('../img/bg_darkgreen_noise.jpg') 0 0 repeat;
/*	padding: 20px 0;*/
	overflow: hidden;
	
	a{
		&:hover{
			color: colors.lightergreen;
		}
	}
	
	#left-content{
		width: 580px;
		margin-right: 20px;
		float: left;
		padding:20px 0;
	}
	
	#sidebar{
		width:300px;
		float: left;
		padding: 20px;
		background: url('../img/bg_lightgreen_noise.jpg') 0 0 repeat;
	}
}

footer{
	font-family: fonts.museo;
	font-size: 12px;
	line-height: 12px;
	padding: 8px 0;

	a{
		font-weight: normal;
		color: colors.beige;

	}
	
	.wrapper{
		padding: 10px 0;
	}
}

#lightbox{
	position: absolute;
	width: 500px;
	height: 500px;
	background: aqua;
	left: 50%;
	margin-left: -250px;
	top: 100px;
	z-index: 10000;
	padding: 15px;
	background-color: transparent;
  background-color: rgba(44, 48, 20, 0.8);  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */
	@include box-shadow(0,0,10px, #000);
	#content{
		background:colors.beige;
		width: 500px;
		height: 500px;
	}
}
/*end main style*/
/*typography*/
h1{font-size: 30px; margin-bottom: .7em;}
h2{font-size: 26px; margin-bottom: .7em;}
h3{font-size: 22px; margin-bottom: .7em;}
h4{font-size: 18px; margin-bottom: .7em;}
h5{font-size: 16px; margin-bottom: .7em;}
h6{font-size: 14px; margin-bottom: .7em;}

/*end typography*/
