application/libraries/scaffold/cache/
application/cache
application/logs
g*.html

#keep empty folders with .gitkeep
!application/libraries/scaffold/cache/index.html
!application/cache/index.html
!application/logs/index.html