#logs, cache and google files
application/libraries/scaffold/cache
application/cache
application/logs
application/config/database.php
g*.html

#ant config
build/config/buildinfo.properties

#ant publish
publish/
!.gitkeep