/*font-face fonts*/
@font-face {
    font-family: 'NeutonRegular';
    src: url('fonts/Neuton-webfont.eot');
    src: url('fonts/Neuton-webfont.eot?#iefix') format('eot'),
         url('fonts/Neuton-webfont.woff') format('woff'),
         url('fonts/Neuton-webfont.ttf') format('truetype'),
         url('fonts/Neuton-webfont.svg#webfont8fs47wLc') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'MuseoSans700';
    src: url('fonts/museosans_700-webfont.eot');
    src: url('fonts/museosans_700-webfont.eot?#iefix') format('eot'),
         url('fonts/museosans_700-webfont.woff') format('woff'),
         url('fonts/museosans_700-webfont.ttf') format('truetype'),
         url('fonts/museosans_700-webfont.svg#webfontmLUVyWlF') format('svg');
    font-weight: normal;
    font-style: normal;

}
